@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Catamaran', sans-serif;
}
h2{
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap;
}
.header-left-part{
    width: 65%;
    height: 700px;
    position: relative;
}
.header-left-part .logo-part{
    position:absolute;
    top: 50px;
    left: 90px;
    font-size: 1.1em;
    z-index: 1;
    transition-duration: 0.5s;
}
.header-right-part{
    width: 35%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}
.right-big-afisha.afisha{
position: relative; 
    height: 60%;
    width: 100%;
    transition-duration: 0.5s;
}

.right-big-afisha.afisha .word{
    width: 80%;
    }
.right-small-afishas{
    height: 40%;
    width: 100%;
    display: flex;
}
.right-small-afisha.afisha{
    transition-duration: 0.5s;
position: relative; 
    width: 50%;
    height: 100%;
}

.header-left-part ul,.right-big-afisha.afisha ul{
    position: absolute;top: 50%;
    left: 5%;
}
.right-small-afisha.afisha ul>li{
    
    display: inline-block;
}
.right-big-afisha.afisha ul>li{
    
    display: inline-block;
}
.header-left-part ul>li{
    
        display: inline-block;
    
}
.right-small-afisha.afisha h2{
    top: 20%;
    
}
.right-small-afisha.afisha .imdb{
    top: 15%;
    position: absolute;
    left: 10%;
}
.right-small-afisha.afisha ul{
    position: absolute;top: 50%;
   left: -15px;
   top:55%;
}
.afisha{
height: 100%;
}
.afisha .overlay-div img{
    transition-duration: .5s;
}
.right-small-afisha:hover  .overlay-div img,.right-big-afisha:hover .overlay-div img,.header-left-part:hover  .overlay-div img{
    transform: scale(1.1);
}
header .afisha:hover{
    cursor: pointer;
}
.overlay-div{
    position: relative;
overflow: hidden;

height: 100%;
width: 100%;
}
.overlay-div>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background:linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,.1));
}

.afisha ul{
    width: 450;
    z-index: 1;   
}
.afisha ul>li{    
    width: 150px;
    font-size: 14px;
    box-sizing: border-box;
    position: relative; 

}
.afisha ul>li>img{
    display: inline-block;
    width: 20px;
}
.afisha ul>li>.word{
    display:inline-block;
    width: 100%;
    position: absolute;
    top: 4px;
}

.word p{
    vertical-align: top;
}
.afisha ul>li:first-child img{
    width: 80px;
}
.afisha ul>li:first-child{
    width: 100px;
    box-sizing: border-box;
}
.afisha .about-film>p{
    position: absolute;
    color: white;
    top: 57%;
    left: 10%;
    width: 410px;
    font-size: 16px;
    line-height: 32px;
}
.afisha a{
    color: white;
}
.read-more{
    position: absolute;
    bottom: 2%;
    left: 10%;
    padding: 20px 30px 10px 30px;
    width: 150px;
    border-radius: 5px;
    height: 60px;
    border:2px solid #2D2628; 
    box-sizing: border-box;
    transition-duration: 0.5s;  
    cursor: pointer;
}
.read-more a{
    color: white;
    font-size: bold;
    transition-duration: 0.5s;
}
.read-more:hover{
    background-color: white;
    border-color: white

}
.read-more:hover a{
    color: #2D2628;
}

 .director{
    width:180px;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.director p{
    display: inline-block;
    width: 50px;
    font-size: bold;
    color: white;
    vertical-align: bottom;
}
 .director img{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
}
.afisha h2{
position: absolute;
top: 35%;
left: 10%;
font-size: 2.2em;
}
img{
    width: 100%;
    height: 100%;
}
.imdb{
    background-color: #F1B722;
    padding: 5px 10px 1px;
    border-radius:20px;
    color: white;
    width: 30px;
    height: 25px;
}
.right-big-afisha .imdb,.header-left-part .imdb{
    position: absolute;
    top: 30%;
    left: 10%;
}


nav.navigation {
    background-color: #0C2738;
    width: 100%;
    height: 100px;
    display: flex;
    top:0;
    justify-content: space-around ;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.navigation .logo-part{
    width: 200px;
    height: 20px;
}

.navigation ul>li{
    display: inline-block;
    font-size: 20px;
    padding: 0px 20px;
    position: relative;
    
}
.navigation ul>li>a{
    color: #728897;
    text-decoration: none;
    transition-duration: .5s;
}
.navigation ul>li:first-child a{
    color: white;
}
.navigation ul>li:first-child::after{
    content: ' ';
    width: 50px;
    height: 2px;
    background-color: #F1B722;
    position: absolute;
    top: 60px;
    
}
.navigation ul>li:hover a{
    color: white;
}
.hightlights{
    width: 100%;
    height: 800px;
    background-color: #081B27;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
}
.hightlights h2{

    font-size: 350%;
}
.hightlight-content{
    width: 50%;
}
 .hightlight-content>div{
    margin-left: 150px;
    
}
.hightlights .hightlight-content>div>p{
    margin-top: -40px;
}
.hightlight-content>div>p{
    color: #7F99AC;
    font-size: 150%;
}
.hightlights .hightlight-menu{
width: 50%;

}
.hightlights .hightlight-menu>div{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 20%;
}
.hightlights .hightlight-menu ul,.hightlights .hightlight-menu ul>li>.hightlight-menu-list{
    width: 100%;

}
.hightlights .hightlight-menu ul{
    margin-left: -40px;
}
.hightlights .hightlight-menu ul>li {
    display: inline-block;
    text-align: center;
    padding: 1px 30px 1px;
    border-radius: 30px;
    margin-left: 20px;  
    color:#374550;
    
    transition-duration: .5s;
    background-color: #0C2738;
}
.hightlights .hightlight-menu ul>li:first-child{
    background-color: #FFFFFF;
    color:#374550;
}
.hightlights .hightlight-menu ul>li:hover,.hightlights .hightlight-menu ul>li:hover:first-child{
    color:white;
    cursor:pointer;
}

.hightlights-afishas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    height: 80%;
}
.hightlights-afisha{
  width: 18%;
  height:70%;
  margin: 10px;
}
 .hightlights-afisha .photo {
    width: 100%;
    height: 80%;
    position: relative;
}
.hightlights-afisha ul>li{
    width: 100%;        
}
 .hightlights-afisha ul{
    margin-left: -40px;
    list-style: none;
    position: absolute;
    top: 30px;
}
 .hightlights-afisha .photo .imdb{
    margin-left: 100px;  
    position: absolute;
    top: 0px;
    z-index: 1;
}
 .hightlights-afisha .photo img{
    width: 100%;
    height: 100%;
    margin-top: -35px;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    
}

.hightlights-afishas .hightlights-afisha h3{
    font-size: 120%;
    color: white;
}
.manu-hight{
    position: relative;
}

.header-left-part.afisha.big-aphisha{
    width: 100%;
    height: 1000px;;
}
.header-left-part.afisha.big-aphisha ul>li{
    left: 20px;
}
.header-left-part.afisha.big-aphisha .overlay-div>div{
    
    background-image: linear-gradient(to top,rgba(12, 39, 56,1),rgba(12, 39, 56,0.1));    
}
.header-left-part.afisha.big-aphisha .overlay-div:hover img{
    
    transform: scale(1);   
}
.header-left-part.afisha.big-aphisha .read-more,.header-left-part.afisha.big-aphisha .director{
    bottom: 150px;
}

.new-releases{
background-color: #0C2738;
width: 100%;
height: 800px;
position: relative;
}
.new-releases .hightlight-content{
    width: 100%;
    height: 200px;
}
.new-releases.afisha .hightlight-content>div>h2{
    position: absolute;
    top: -200px;
    font-size: 80px;
}
.new-releases .hightlight-content>div{
   position: relative;  
   margin-left: 400px;
   width: 40%;
}

.new-releases.afisha .hightlight-content>div>p{
    position: absolute;
    margin: 0;
    left: 20%;
}
.new-releases.afisha .releases{
    position: absolute;
    top:70px; 
    height: 600px;
    width: 100%;
    display: flex;
}
.new-releases.afisha .releases .releases-left{
    width: 40%;
}
.new-releases.afisha .releases .releases-left .photo{
    width: 70%;
    height: 90%;
    margin: auto;
}
.new-releases.afisha .releases .releases-left .hightlights-afisha{
    width: 100%;
    height: 100%;
}
.new-releases.afisha .releases .releases-left .photo img{
    width: 100%;
    height: 100%;
}
.new-releases.afisha .releases .releases-left .hightlights-afisha .photo .imdb{
    left: 60px;
}

.new-releases.afisha .releases .releases-left .hightlights-afisha ul{
    top:600px;
    left: 90px;
}
.new-releases.afisha .releases .releases-left .hightlights-afisha ul>li>h2{
    margin: 5px;
    width: 350px;
    margin-left: -10px;
}
.new-releases.afisha .releases .releases-left .hightlights-afisha ul>li:last-child{
    margin-top: 40px;
}
.new-releases.afisha .releases .releases-right{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.new-releases.afisha .releases .releases-right .hightlights-afisha{
    width: 40%;
    height: 43%;
    position: relative;
    margin-bottom: 70px;
}

.new-releases.afisha .releases .releases-right .hightlights-afisha ul{
    top: 250px;
}
.new-releases.afisha .releases .releases-right .hightlights-afisha ul>li>h2{
    width: 200px;
    margin: 0;
    margin-left: -10px;
    font-size: 25px;
}
.new-releases.afisha .releases .releases-right .hightlights-afisha ul>li:last-child{
    margin-top: 35px;
}
.new-releases.afisha .releases .releases-right .hightlights-afisha .photo .imdb{
    left: 40px;
}

.about-search{
    height: 300px;
    position: relative;
}
.about-search>p{
   position: absolute;
   top: 100px;
   left: 440px;
   font-size: 18px;
   letter-spacing: 1px;
   color: #F1B722;
}
.about-search>.search-part{
    position: absolute;
    top: 160px;
    width: 550px; 
    left: 380px;
}
.about-search input[type="search"] {
    width: 100%;  
   padding: 20px 50px;
   border-radius: 30px;
   text-align: center;
   outline: none;
   
}
.about-search input[type="search"]::placeholder{
   font-size: 20px;
   
}
.about-search i{
    position: absolute;
    font-size: 30px;
    color:#F1B722;
    right: 30px;
    bottom: 12px;
}

.into-about{
    flex-direction: column;
    justify-content: center;
    height: 450px;
    }


.into-about-left{
    width: 24%;
    height: 50%;
    float: left;
}
.into-about-right{
    width: 15%;
    height: 50%;
    float: left;
}
.into-about .into-about-center{
    width: 61%;
    float: left;
    margin-bottom: 110px;
}
.into-about-right::after{
    content: "";
    display: table;
    clear: both;
}
.into-about-center ul>li>ul>li {
    list-style-type: none;
    padding-left: 0;
}
.into-about-center ul>li>ul>li i{
    color: #F1B722;
}
.into-about-center ul>li>ul>li a{
text-decoration: none;
color: #5493C5;
line-height: 50px;
transition-duration: .5s;
}
 .into-about-center ul li>ul>li a:hover{
    color: #F1B722;
}
.into-about div>ul>li{
    display: inline-block;
    margin-left: 40px;
}
.into-about>div>ul>li>h3{
    font-size: 30px;
    color: white;
}
.footer-left ,.footer-right{
    width: 30%;
    height: 50px;
    float: left;
}
footer{
    margin: 0; 
    width:40% ;
    height: 50px;
    float: left;
}
footer>p{
    margin: 0;
    font-size: 12px;
    color: #87939F;
    word-spacing: 2px;
}
footer>p>a{
    color: #4A80A8;
}
.footer-part{
    position: relative;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#0C2738,rgba(12, 39, 56,0.8)),url("https://assets.website-files.com/59f5ab35fccfea0001f70443/5a099901d345d400015ce0a7_Photo-8.jpg");

}
.footer-part::after{
    position: absolute;
    bottom: 100px;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #213039;
}