@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Catamaran', sans-serif;
}
h2{
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap;
}
.header-left-part{
    width: 65%;
    height: 700px;
    position: relative;
}
.header-left-part .logo-part{
    position:absolute;
    top: 50px;
    left: 30px;
    font-size: 1.1em;
    z-index: 1;
}
.header-right-part{
    width: 35%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}
.right-big-afisha.afisha{
    height: 60%;
    width: 100%;
}
.right-small-afishas{
    height: 40%;
    width: 100%;
    display: flex;
}
.right-small-afisha.afisha{
    width: 50%;
    height: 100%;
}
.right-small-afisha.afisha h2{
    top: 20%;
    
}
.right-small-afisha.afisha .imdb{
    top: 15%;
}
.right-small-afisha.afisha ul{
   left: -15px;
   top:55%;
}
.afisha{
position: relative; 
height: 100%;
width: 100%;
}
.afisha .overlay-div img{
    transition-duration: .5s;
}
.afisha .overlay-div:hover  img{
    transform: scale(1.1);
}
.afisha:hover{
    cursor: pointer;
}
.overlay-div{
    position: relative;
overflow: hidden;
}
.overlay-div>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background:linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,.1));
}

.afisha ul{
    position: absolute;
    width: 450;
    top: 50%;
    left: 5%;
    z-index: 1;   
}
.afisha ul>li{    
    width: 150px;
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
    position: relative; 

}
.afisha ul>li>img{
    display: inline-block;
    width: 20px;
}
.afisha ul>li>.word{
    display:inline-block;
    width: 70%;
    position: absolute;
    top: 4px;
}
.word p{
    vertical-align: top;
}
.afisha ul>li:first-child img{
    width: 80px;
}
.afisha ul>li:first-child{
    width: 100px;
    box-sizing: border-box;
}
.afisha>.about-film>p{
    position: absolute;
    color: white;
    top: 57%;
    left: 10%;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 32px;
}
.afisha a{
    color: white;
}
.read-more{
    position: absolute;
    bottom: 2%;
    left: 10%;
    padding: 20px 30px 10px 30px;
    width: 150px;
    border-radius: 5px;
    height: 60px;
    border:2px solid #2D2628; 
    box-sizing: border-box;
    transition-duration: 0.5s;  
    cursor: pointer;
}
.read-more a{
    color: white;
    font-size: bold;
    transition-duration: 0.5s;
}
.read-more:hover{
    background-color: white;
    border-color: white

}
.read-more:hover a{
    color: #2D2628;
}
a{
    text-decoration: none;
}
.afisha .director{
    width:180px;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.afisha .director p{
    display: inline-block;
    width: 50px;
    font-size: bold;
    color: white;
    vertical-align: bottom;
}
.afisha .director img{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
}
.afisha h2{
position: absolute;
top: 35%;
left: 10%;
font-size: 2.2em;
}
img{
    width: 100%;
    height: 100%;
}
.imdb{
    background-color: #F1B722;
    padding: 2px 10px;
    border-radius:20px;
}
.afisha .imdb{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.overlay-div{
    height: 100%;
    width: 100%;
}